In [23]:
import mysql.connector as connector
connection = connector.connect(user = "root", password = "bongo", db='littlelemondb')

In [24]:
cursor=connection.cursor()
show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)
results=cursor.fetchall()
print(results)

[('booking',), ('customer',), ('employee',), ('menu',), ('menuitems',), ('order',), ('ordersview',)]

In [27]:
query_stmt='''select c.CustomerID,
name 'Customer Name',
telno 'Tel No',
email,
cost*quantity 'Total Bill Amount'
from customer c 
join booking b 
on b.customerid=c.customerid
join 
`order` o
on b.bookingid=o.bookingid
join menuitems mu
on o.menuitemid=mu.menuitemid
where mu.cost * o.Quantity>60
order by mu.cost * o.Quantity desc '''

cursor.execute(query_stmt)
results=cursor.fetchall()

for result in results:
    print('CustomerID:', result[0], '\tCustomer Name: ', result[1], '\tTel No: ', result[2], '\tEmail:', '' if result[3]==None else result[3])

CustomerID: 1005 	Customer Name:  MG Motors 	Tel No:  999-1045 	Email:
CustomerID: 1005 	Customer Name:  MG Motors 	Tel No:  999-1045 	Email:
CustomerID: 1001 	Customer Name:  Mike Turega 	Tel No:  445-3185 	Email: mt@mmu.com